<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{person.name}}</h2>
                    <p class="card-text">Age: {{person.age}}</p>
                    <p class="card-text">Gender: {{person.gender}}</p>
                    <p class="card-text">Address: {{person.address.street}}, {{person.address.city}},
                        {{person.address.state}} {{person.address.zip}}, {{person.address.country}}</p>
                    <hr>
                    <h3>Education</h3>
                    <ul class="list-group">
                        {{#each person.education}}
                        <li class="list-group-item">{{this.degree}} in {{this.major}} from {{this.university}}
                            ({{this.graduationYear}})</li>
                        {{/each}}
                    </ul>
                    <hr>
                    <h3>Work Experience</h3>
                    <ul class="list-group">
                        {{#each person.workExperience}}
                        <li class="list-group-item">
                            <h4>{{this.company}}</h4>
                            <p>{{this.title}} ({{this.startDate}} - {{this.endDate}})</p>
                            <ul>
                                {{#each this.responsibilities}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>