<main>
    {{!-- Кошик --}}
    <div class="row">
        <div class="col-9 my-5">

            <h1>{{header.title}}</h1>
        </div>
        <div class="col-3 my-5">
            <a href="{{header.button.link}}" class="btn btn-light">{{header.button.text}}</a>
        </div>
        <hr>
    </div>
    {{>cartGoodsItem}}
    <br>
    <br>
    <hr>
    {{!-- Сума замовлення --}}
    <div class="row">
        <div class="col-8 my-5">

            <h3>{{total.title}}</h3>
            <h1>{{total.amount}}</h1>
            <h6>{{total.delivery}}</h6>

        </div>
        <div class="col-4 my-5">
            {{#each total.buttons}}
            <div class="col-7 my-5">
                <a href="{{link}}"
                    class="btn {{#if isSuccess}}btn-success{{else if isOutline}}btn-outline-primary{{else}}btn-primary{{/if}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
        <hr>
    </div>
    {{!-- Cards whith img --}}
    <div class="container">
        <h2 class="text-center">{{goodsOtherBlock.title}}</h2>
        <div class="row">
            {{#each goodsOtherBlock.cards}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}
                            <p class="card-text">{{this.description}}</p>
                            {{#if this.isHot}} <span class="text-bg-primary">Hot</span>
                            {{/if}}
                            {{#if this.idNew}} <span class="text-bg-success">New</span>
                            {{/if}}
                        </h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>
    <br>

    {{!-- Підписка --}}
    <div class="card text-bg-dark">
        <div class="row">
            <div class="col-md-7 ms-3">
                <h2>{{subscribe.header}}</h2>
                <p>{{subscribe.description}}</p>
            </div>
            <div class="col-4 mt-4 ms-5 text-end">
                {{#each subscribe.buttons}}
                <a href="{{this.link}}" class="btn btn-primary">{{this.text}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <hr>
    <br>
    {{!-- Footer --}}
    {{>shopfooter}}
</main>