<main>
    <br>
    <br>
    <h1>{{header}}</h1>
    {{!-- 2 buttons --}}
    <div class="row">
        <div class="col-12">
            <div class="nav nav-tabs">
                {{#with purchase.tabs}}
                <div class="nav-item">
                    <a href="#" class="nav-link active">{{0}}</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">{{1}}</a>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    {{!-- 4 buttons placeholder --}}
    <div class="row my-3 mx-2">
        {{#with purchase.actionBlock}}
        <div class="col-4">
            <button class="btn btn-outline-dark disabled">{{input.placeholder}}</button>
        </div>
        <div class="col-2">
            <a href="{{buttons.[0].link}}" class="btn btn-success">{{buttons.[0].text}}</a>
        </div>
        <div class="col-2">
            <a href="{{buttons.[1].link}}" class="btn btn-outline-success">{{buttons.[1].text}}</a>
        </div>
        <div class="col-2">
            <a href="{{buttons.[2].link}}" class="btn btn-outline-danger">{{buttons.[2].text}}</a>
        </div>
    </div>
    {{/with}}
    <hr>
    </div>
    {{!-- Набір пласких карток --}}
    {{#each purchase.itemList}}
    <div class="card my-5">
        <div class="row mt-3 ">
 shopprofile
            <div class="col-3">
=======
            <div class="col-4">
 master
                <p>{{number}}
                <h5>{{status}}</h5>
                </p>
            </div>
            <div class="col-2">
                <p>{{amount.title}}
                <h5>{{amount.value}}</h5>
                </p>
            </div>
 shopprofile
            <div class="col-5">
                {{#each images}}
                <img src="{{this}}" class="">
                {{/each}}
            </div>
            <div class="col-1">

                <a href="{{button.link}}" class="btn {{#if button.isPrimary}}btn-primary{{else}}btn-secondary{{/if}}">
                    {{button.text}}
                </a>
            </div>
        </div>
    </div>
    {{/each}}
    <h1>Особиста інформація</h1>
    {{!-- Великі картки --}}
    {{!-- Особисті дані --}}

    <div class="card ">
        <div class="card-body">
            <h2 class="card-title">{{userInfo.profileData.title}}</h2>
            <ul>
                <div class="row">
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.fullName.surname.title}}:<br></strong>
                            {{userInfo.profileData.fullName.surname.value}}
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.fullName.name.title}}:<br></strong>
                            {{userInfo.profileData.fullName.name.value}}
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.fullName.middleName.title}}:<br></strong>
                            {{userInfo.profileData.fullName.middleName.value}}
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.otherInfo.birthday.title}}:<br></strong>
                            {{userInfo.profileData.otherInfo.birthday.value}}
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.otherInfo.sex.title}}:<br></strong>
                            {{userInfo.profileData.otherInfo.sex.value}}
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="list-group-item">
                            <strong>{{userInfo.profileData.otherInfo.language.title}}:<br></strong>
                            {{userInfo.profileData.otherInfo.language.value}}
                        </li>
                    </div>
                </div>
            </ul>

            <div class="ms-2 row">

                {{#each userInfo.buttons}}
                <div class="col-4">
                    <a href="{{this.link}}"
                        class="btn {{#if this.isPrimary}}btn-primary{{else if this.isSecondary}}btn-outline-secondary{{else if this.isDanger}}btn-outline-danger{{/if}}">{{this.text}}</a>
                </div>
                {{/each}}

            </div>

        </div>
    </div>
    <br><br>
    {{!-- Отримувачі --}}
    <div class="card ms-2">
        <div class="card-body">
            <h2>{{userInfo.recipients.title}}</h2>
            <div class="card-body row">
                {{#each userInfo.recipients.users}}
                <div class="mb-3 col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text"><strong>{{userInfo.recipients.users.phone.title}}</strong> {{this.phone}}
                        </p>
                        <a href="{{this.button.link}}" class="btn btn-primary">{{this.button.text}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <br><br>
    {{!-- Контакти --}}
    <div class="card mt-4">
        <div class="card-body">
            <h2>{{userInfo.contacts.title}}</h2>
            <div class="card-body">
                <ul>
                    <div class="row">
                        <div class="col-4">
                            <li class="list-group-item ">
                                <strong>{{userInfo.contacts.contactData.phone.title}}:<br></strong>
                                {{userInfo.contacts.contactData.phone.value}}
                            </li>
                        </div>
                        <div class="col-4">
                            <li class="list-group-item">
                                <strong>{{userInfo.contacts.contactData.additionalPhone.title}}:<br></strong>
                                {{userInfo.contacts.contactData.additionalPhone.value}}
                            </li>
                        </div>
                        <div class="col-4">
                            <li class="list-group-item">
                                <strong>{{userInfo.contacts.contactData.email.title}}:<br></strong>
                                {{userInfo.contacts.contactData.email.value}}
                            </li>
                        </div>
                    </div>
                </ul>
                <div class="ms-2 row">
                    {{#each userInfo.contacts.buttons}}
                    <div class="col-4">
                        <a href="{{this.link}}"
                            class="btn {{#if this.isPrimary}}btn-primary{{else if this.isSecondary}}btn-outline-secondary{{else if this.isDanger}}btn-outline-danger{{/if}}">{{this.text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div><br><br>
=======
            <div class="col-4">
                <ul class="row g-8">
                    <div class="col-8">
                        <li class="list-group-item">{{this.price.title}}: {{this.price.value}}</li>
                    </div>
                    <div class="col-3">
                        <li class="list-group-item">{{this.amount}}</li>
                    </div>
                </ul>
            </div>

            <div class="col-2 my-3">
                <button type="button" class="btn btn-primary mb-2">{{this.buttons.[0].text}}</button>
                <button type="button" class="btn btn-danger">{{this.buttons.[1].text}}</button>
            </div>
            <div class="col-2 my-3">
                <button type="button" class="btn btn-primary mb-2">{{this.buttons.[0].text}}</button>
                <button type="button" class="btn btn-danger">{{this.buttons.[1].text}}</button>
            </div>

        </div>
    </div>
    {{/each}}

 master
    {{!-- Footer --}}
    {{>shopfooter}}

</main>