{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work historis" big=true}}
            <div>
                <ul>
                    {{#each works}}

                    <li>
                        <div>{{position}}</div>
                        <br>
                        <div>{{duration.from}} -
                            {{#if duration.to}}{{duration.to}}
                            {{else}}(досі працюю тут)
                            {{/if}}
                        </div>

                        <br>
                        {{#if company.url}}
                        <div>{{>link text=company.name href=company.url blank=true noLine=true }}</div>
                        {{else}}
                        <div><b>{{company.name}}</b></div>
                        {{/if}}
                        <br>
                        <br>
                        <div>
                            <strong>Projects: {{projektAmount}}</strong>
                        </div>
                        <br>
                        <ul>
                            {{#each projekts}}
                            <li>
                                <div>{{>link text=name href=url blank=true noLine=true}}</div>
                                <br>
                                <p>{{about}}</p>
                                <br>
                                <em> Project stacks: ({{stacksAmaunt}})</em>
                                <br>
                                <ul>
                                    {{#each stacks}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                                <br>
                                <em> Project avards:</em>
                                <br>
                                <ul>
                                    {{#each avards}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>

                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}