<div class="card text-center text-bg-success">
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">{{service.title}}</h2>
                    <p class="section-description">{{service.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{service.buttons.[0].link}}" class="btn btn-primary"
                        rel="{{service.buttons.[0].rel}}">{{service.buttons.[0].text}}</a>
                </div>
            </div>
        </div>
    </section>
</div>